{% extends 'base.html'%}


{% import 'macros.html' as macro%}

{% block styles%}
{{ super() }}
<link href="https://fonts.googleapis.com/css?family=Akronim|Bellefair|Joti+One"rel="stylesheet">


{% endblock %}

{% block content %}
    {% for post in posts %}
    <div class="container">
    <div class="well">

      <div class="panel panel-success">
      <div class="panel-heading">
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata" style="  margin-bottom: 4px;
   padding-bottom: 1px;border-bottom: 1px solid #e3e3e3;">

              <a class="mr-1" href="#">{{ post.user_id }}</a>
              <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
            </div>
            <h2><a class="article-title" href="{{ url_for('main.post', post_id=post.id) }}">{{ post.title }}</a></h2>
            <p class="article-content">{{ post.content }}</p>
          </div>
        </article>
        </div>
        </div>
        </div>
        </div>

    {% endfor %}
{% endblock content %}
