    <html>
  <head>
    <meta charset="utf-8">


    <title></title>
  </head>
  <body>
    <div class="navbar navbar-inverse" role="navigation">
        <div class="container-fluid">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>

                </button>
       <ul class="nav navbar-nav navbar-right">
                   <a  href="{{url_for('main.home')}}"style=" font-weight:bolder; font-size:20px; color:yellow; right:1470px;position:relative; top:10px;">Home</a>
                  <a href=""style=" font-weight:bolder; font-size:30px;color:green; float:left; position:relative;left:-400px;top:7px;  font-family:   'Times New Roman', Times, serif;
                ">JOIN WRITTERS..</a>
                  {% if current_user.is_authenticated %}
                  <li ><a href="{{url_for('main.new_post')}}"style=" font-weight:bolder; font-size:20px;color:ghostwhite;">New Post</a></li>
                  <li><a href="{{url_for('main.profile',uname=current_user.username)}}"style=" font-weight:bolder; font-size:20px;color:white;">Profile</a></li>
                  <li ><a href="{{url_for('auth.logout')}}"style=" font-weight:bolder; font-size:20px;color:ghostwhite;">Sign out</a></li>
                  {% else %}
                  <li><a href="{{url_for('auth.login')}}"style=" font-weight:bolder; font-size:20px;color:ghostwhite;">Sign in</a></li>
                  {%endif%}

            </div>

        </div>
    </div>
  </body>
</html>

